@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  text-shadow: none;
  color: #fff;
  background-color: #00f;
}

html {
  /* Make base font-size 100% of browser font-size */
  font-size: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth; /* Smoothly animate to different sections within a page, only if the user doesn't mind animations */
  }
}

*,
*::before,
*::after,
html {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif, serif, monospace, cursive, fantasy;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: auto;
  max-width: 100%;
  user-select: none;
}

button {
  color: inherit; /* By default, buttons don't inherit the font colour, this is a useful default to override */
}

a,
button {
  touch-action: manipulation; /* Element doesn't want double-tap on mobile to zoom */
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
  pointer-events: none;
}

iframe,
video {
  height: 100%;
  width: 100%;
}
